:root {
    --win-border-color: #000;
    --win-title-bar-color: #000;
    --win-title-bar-text-color: #fff;
    --win-background: #ccc;
    /* the following variables are also read by window.js */
    --win-min-width: 200px;
    --win-title-height: 1.33rem;
    --win-border-width: 3px;
}
/* mobile compatibility */
@media (max-width: 640px) {
    :root {
        --win-title-height: 2.66rem;
    }
}

/* getComputedStyle() used on :root would
return unresolved relative (em, rem, %, ...)
property values, so applying :root variables
to an element and reading those instead
gives us the desired properties in px. */
#window-property-convert {
    position: fixed;
    top: 999vh;
    left: 999vw;
    height: var(--win-title-height);
    width: var(--win-border-width);
}

body.window-drag-active .window iframe {
    pointer-events: none;
}
.window {
    display: block;
    position: absolute;
    box-sizing: border-box;
    min-width: var(--win-min-width);
    min-height: calc(var(--win-title-height) + var(--win-border-width));
    border: var(--win-border-width) solid var(--win-border-color);
    background: var(--win-background);
}
.window.transparent {
    background: transparent;
}
.window-title-bar {
    height: var(--win-title-height);
    background: var(--win-title-bar-color);
}
.window-title-bar h1 {
    position: relative;
    top: calc(50% - .75rem + 1px);
    width: calc(100% - var(--win-title-height) - var(--win-border-width));
    margin: 0;
    padding: 0 var(--win-border-width);
    white-space: nowrap;
    overflow: hidden;
    font-size: 12pt;
    font-weight: normal;
    color: var(--win-title-bar-text-color);
    user-select: none;
}
.window-close-button {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(var(--win-title-height) - var(--win-border-width));
    height: calc(var(--win-title-height) - var(--win-border-width));
    cursor: pointer;
    border: 1pt outset #ccc;
    background: #ccc url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiI+PGxpbmUgeDE9IjAiIHkxPSIwIiB4Mj0iMzIiIHkyPSIzMiIgc3R5bGU9InN0cm9rZTogIzAwMDAwMDsgc3Ryb2tlLXdpZHRoOjVweCIvPjxsaW5lIHgxPSIzMiIgeTE9IjAiIHgyPSIwIiB5Mj0iMzIiIHN0eWxlPSJzdHJva2U6ICMwMDAwMDA7IHN0cm9rZS13aWR0aDo1cHgiLz48cmVjdCB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHg9IjAiIHk9IjAiIHN0eWxlPSJmaWxsOnRyYW5zcGFyZW50OyBzdHJva2Utd2lkdGg6MTI7c3Ryb2tlOiNjY2NjY2MiIC8+PC9zdmc+") no-repeat center;
    background-size: 12px;
}
.window-new-tab-button {
    position: absolute;
    right: var(--win-title-height);
    top: 0;
    width: calc(var(--win-title-height) - var(--win-border-width));
    height: calc(var(--win-title-height) - var(--win-border-width));
    cursor: pointer;
    border: 1pt outset #ccc;
    background: #ccc url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBpZD0iUmVubm11dHplbCIgZD0ibTUuODgwNDc3LDQuODE0MTg3bC01LjE0Mjc2MSwwbDAsOC4xMjAxNDlsOC4xMjAxNTEsMGwwLC01LjE0Mjc2bS0yLjcwNjcxNywtNy4wMzc0NjRsMCwxLjM1MzM1OGwxLjM1MzM1OCwxLjM1MzM1OGwtNC4wNjAwNzUsNC4wNjAwNzVsMi43MDY3MTcsMi43MDY3MTZsNC4wNjAwNzUsLTQuMDYwMDc0bDEuMzUzMzU5LDEuMzUzMzU4bDEuMzUzMzU3LDBsMCwtNi43NjY3OTFsLTYuNzY2NzkxLDB6IiBzdHJva2U9IiM2NjYiIGZpbGw9InRyYW5zcGFyZW50Ii8+DQo8L3N2Zz4=) no-repeat center;
    background-size: 12px;
}
.window-close-button:hover,
.window-new-tab-button:hover {
    border-style: inset;
}
.window-content {
    width: 100%;
    height: calc(100% - var(--win-title-height));
    border: none;
}
.window-resize-handler {
    background-color: var(--win-border-color);
    position: absolute;
    width: var(--win-border-width);
    height: var(--win-border-width);
    top: calc(var(--win-border-width) * -1);
    right: calc(var(--win-border-width) * -1);
    bottom: calc(var(--win-border-width) * -1);
    left: calc(var(--win-border-width) * -1);
}
.window-resize-handler.n {
    left: 0;
    bottom: unset;
    width: 100%;
    cursor: ns-resize;
}
 .window-resize-handler.s {
    left: 0;
    top: unset;
    width: 100%;
    cursor: ns-resize;
}
.window-resize-handler.w {
    right: unset;
    top: 0;
    height: 100%;
    cursor: ew-resize;
}
.window-resize-handler.e {
    left: unset;
    top: 0;
    height: 100%;
    cursor: ew-resize;
}
.window-resize-handler.nw {
    bottom: unset;
    right: unset;
    cursor: nwse-resize;
}
.window-resize-handler.se {
    top: unset;
    left: unset;
    cursor: nwse-resize;
}
.window-resize-handler.ne {
    bottom: unset;
    left: unset;
    cursor: nesw-resize;
}
.window-resize-handler.sw {
    top: unset;
    right: unset;
    cursor: nesw-resize;
}